<!DOCTYPE html>
<html lang="en" style="font-size: 13px" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="./">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RPA</title>

    <% for (var css of htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= css %>">
    <% } %>
    <!-- <script>require('./renderer.js')</script> -->
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,body {
        height: 100%;
    }
</style>
<body>
    
    <div id="root"></div>

<% for (var js of htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="<%= js %>"></script>
<% } %>

</body>
</html>